<mat-toolbar color="primary">
  <span class="pointer" (click)="goToList()">{{ title }}</span>
  <span class="example-spacer"></span>
  <div class="d-flex justify-content-end w-100">
    <div *ngIf="user" class="d-flex align-items-center">
      <mat-icon>account_circle</mat-icon
      ><span class="d-inline-flex m-1">{{ user.fullName }}</span>
    </div>
    <button (click)="signOut.emit()" mat-icon-button>
      <mat-icon>logout</mat-icon>
    </button>
  </div>
</mat-toolbar>
