<div class="w-100" [formGroup]="contactForm">
  <mat-card (keyup.enter)="onSaveContact()">
    <mat-card-content>
      <div class="d-flex flex-column justify-content-center">
        <mat-form-field appearance="outline">
          <input
            formControlName="contactName"
            matInput
            placeholder="Contact Name"
          />
          <mat-icon matSuffix>account_circle</mat-icon>
          <mat-error> contact name is required</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <input formControlName="contactEmail" matInput placeholder="email" />
          <mat-icon matSuffix>email</mat-icon>
          <mat-error>email is required</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <input
            type="text"
            formControlName="contactAddress"
            matInput
            placeholder="contact address"
          />
          <mat-icon class="pointer" matSuffix>home</mat-icon>
          <mat-error>address is required</mat-error>
        </mat-form-field>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <div class="d-flex justify-content-center w-100">
        <button
          (click)="onSaveContact()"
          [disabled]="contactForm.invalid"
          mat-raised-button
          color="accent"
        >
          Save Changes
        </button>
        <button (click)="onReset()" mat-raised-button>Reset</button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
