<ng-container *ngIf="authFacade.authState$ | async as state">
  <div
    class="sign-up-container justify-content-center d-flex align-items-center flex-column align-content-center"
  >
    <app-sing-up-component
      *ngIf="!state.isLoading;else isLoading"
      (signUp)="onSignUp($event)"
    ></app-sing-up-component>
    <ng-template #isLoading>
      <mat-spinner></mat-spinner>
    </ng-template>
  </div>
</ng-container>
