<ng-container *ngIf="authFacade.authState$ | async as state">
  <div
    class="sing-in-container justify-content-center d-flex align-items-center flex-column align-content-center"
  >
    <app-sign-in-component
      *ngIf="!state.isLoading;else isLoading"
      (signIUp)="onSignUp()"
      (signIn)="onSignIn($event)"
    ></app-sign-in-component>
    <ng-template #isLoading>
      <mat-spinner></mat-spinner>
    </ng-template>
  </div>
</ng-container>
