<div *ngIf="contact">
  <mat-card>
    <mat-card-content>
      <div class="d-flex flex-row justify-content-center">
        <div class="d-flex flex-column">
          <div class="text-muted d-flex align-items-center">
            <mat-icon>account_circle</mat-icon>
            <span class="d-inline-flex m-lg-2">{{ contact?.contactName }}</span>
          </div>
          <div class="text-muted d-flex align-items-center">
            <mat-icon>home</mat-icon>
            <span class="d-inline-flex m-lg-2">{{
              contact?.contactAddress
            }}</span>
          </div>
          <div class="text-muted d-flex align-items-center">
            <mat-icon>email</mat-icon>
            <span class="d-inline-flex m-lg-2">{{
              contact?.contactEmail
            }}</span>
          </div>
        </div>
        <div class="d-flex justify-content-end edit-container text-muted">
          <button (click)="editContact.emit(contact)" mat-icon-button>
            <mat-icon class="material-icons-outlined"
              >mode_edit_outline</mat-icon
            >
          </button>
          <button class="me-1" mat-icon-button>
            <mat-icon
              (click)="deleteContact.emit(contact)"
              class="material-icons-outlined"
              >delete_outline</mat-icon
            >
          </button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
