<ng-container *ngIf="contactFacade.contactState$ | async as state">
  <div *ngIf="!state.isLoading">
    <div class="d-flex flex-column justify-content-center align-items-center">
      <button
        (click)="goToList()"
        class="button-back d-flex align-items-center"
      >
        <mat-icon>arrow_back</mat-icon> back to list
      </button>
      <div>
        <app-contact-card-edit
          (saveContact)="onSaveContact($event,state.user.id)"
        ></app-contact-card-edit>
      </div>
    </div>
    <mat-spinner *ngIf="state.isLoading"></mat-spinner>
  </div>
</ng-container>
