.contact-holder {
  width: 22rem;
  margin: 1rem 0;
}
.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60rem;
  margin: 0 auto;
  height: 100%;
}

