<ng-container *ngIf="contactsFacade.contactState$ | async as state">
  <div *ngIf="!state.isLoading">
    <div class="d-flex justify-content-center align-items-center">
      <button
        (click)="goToNewContact()"
        class="button-add d-flex align-items-center"
      >
        add new <mat-icon>add</mat-icon>
      </button>
    </div>
    <div
      class="contact-holder"
      *ngFor="let contact of state.contacts; trackBy:trackByContactId"
    >
      <app-contact-card-component
        (editContact)="onEditContact($event)"
        (deleteContact)="onDeleteContact($event,state.contacts)"
        [contact]="contact"
      ></app-contact-card-component>
    </div>
    <h3 class="text-muted" *ngIf="state.contacts.length === 0">
      No contacts found...
    </h3>
    <mat-spinner *ngIf="state.isLoading"></mat-spinner>
  </div>
</ng-container>
