<div class="w-100" [formGroup]="sighUpForm">
  <mat-card class="card" (keyup.enter)="onSignUp()">
    <mat-card-header>
      <mat-card-title>Sign Up</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div class="d-flex flex-column justify-content-center">
        <mat-form-field appearance="outline">
          <input
            formControlName="fullName"
            matInput
            placeholder="Your full name"
          />
          <mat-icon matSuffix>account_circle</mat-icon>
          <mat-error> your full name is required</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <input formControlName="username" matInput placeholder="Username" />
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          <mat-error>username is required</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <input
            [type]="passwordType"
            formControlName="password"
            matInput
            placeholder="Password"
          />
          <mat-icon class="pointer" (click)="toggleShowPasswordType()" matSuffix
            >key</mat-icon
          >
          <mat-error>password is required</mat-error>
        </mat-form-field>
        <div class="d-flex justify-content-center">
          <p class="me-1 mat-hint">Back to</p>
          <span (click)="backToSignIn()" class="text-primary pointer"
            >sign in</span
          >
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <div class="d-flex justify-content-center w-100">
        <button
          (click)="onSignUp()"
          [disabled]="sighUpForm.invalid"
          mat-raised-button
          color="accent"
        >
          Sign Up
        </button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
