/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap';
@import '~bootstrap/dist/css/bootstrap.css';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
.pointer {
  cursor: pointer;
}
.button-add,
.button-back {
  all: unset;
  font-size: 1.3rem;
  margin: 1rem 0;
  cursor: pointer;
}
