<ng-container *ngIf="contactFacade.contactState$ | async as state">
  <div class="w-100">
    <app-contacts-header
      (signOut)="signOut()"
      [user]="state.user"
    ></app-contacts-header>
  </div>
  <div>
    <div class="contact-container">
      <router-outlet></router-outlet>
    </div>
  </div>
</ng-container>
