<div class="w-100" [formGroup]="signInForm">
  <mat-card class="card" (keyup.enter)="onSignIn()">
    <mat-card-header>
      <mat-card-title>Sign in</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div class="d-flex flex-column justify-content-center">
        <mat-form-field appearance="outline">
          <input formControlName="username" matInput placeholder="Username" />
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          <mat-error>username is required</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <input
            [type]="passwordType"
            formControlName="password"
            matInput
            placeholder="Password"
          />
          <mat-icon class="pointer" (click)="toggleShowPasswordType()" matSuffix
            >key</mat-icon
          >
          <mat-error>password is required</mat-error>
        </mat-form-field>
      </div>
      <div class="d-flex justify-content-center">
        <p class="me-1 mat-hint">You don't have an account?</p>
        <span (click)="onSignUp()" style="cursor: pointer" class="text-primary"
          >sign up</span
        >
      </div>
    </mat-card-content>
    <mat-card-actions>
      <div class="d-flex justify-content-center w-100">
        <button
          (click)="onSignIn()"
          [disabled]="signInForm.invalid"
          mat-raised-button
          color="primary"
        >
          Login
        </button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
